PORT=3000
NODE_ENV=development
MONGO_URI=mongodb://mongodb:27017/pfe_iot
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
MQTT_URL=mqtt://mosquitto:1883
MQTT_CLIENT_ID=pfe-backend
MQTT_USERNAME=
MQTT_PASSWORD=
TEMP_HIGH=45
HUMIDITY_HIGH=80
BATTERY_LOW=11
